/* Dependencies */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=IBM+Plex+Mono:wght@400;500;600&family=Work+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');

/* Global Variables */

:root {
    --titlefont: "DM Sans";
    --headingfont: "IBM Plex Mono";
    --blurbfont: "Work Sans";
    --bodyfont: "Work Sans";
    --bodycolor: white;
    --bodyfontsize: 22px;
    --linkcolor: #c9945b;
    --altcolor: #CCD0D2;
    --backgroundcolor: #0a0a0a
}

body {
    color: var(--bodycolor);
    font-family: var(--bodyfont), sans-serif;
    font-size: var(--bodyfontsize);
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    background: var(--backgroundcolor);
}

.root_container {
    background: transparent;
    max-width: 100%;
    min-height: 100%;
}